# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
public/models/car1.glb

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*.local
public/models/ship1.glb
public/models/airplane.glb
public/models/redroom.glb
public/models/fightership.glb
public/models/Lantern.glb
temp_textures/asphalt.zip
temp_textures/Concrete039_1K-JPG.zip
temp_textures/concrete.zip
temp_textures/Bricks094_1K-JPG.zip
temp_textures/Facade001_1K-JPG.zip
